<form #contactForm = 'ngForm' (ngSubmit) ='addUser(contactForm)' class="example-form">
    
    <mat-form-field class="example-full-width">
      <mat-label>User Id</mat-label>
      <input 
      required
      #name= 'ngModel'
      name="username"
      matInput placeholder="Your User Id"
      [(ngModel)] = 'contact.username'
      >
      <mat-error >
        Enter the name
      </mat-error>
      
    </mat-form-field>
  
    <!-- <small class='error-message' [class.error-hide]='name.untouched || name.valid'>Name is mandatory</small>    -->
  
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput 
      type="password"
      name="password"
      #email= 'ngModel'
      [(ngModel)] = 'contact.password'
      required
      placeholder="Your password">
      <mat-error >
        Enter the password
      </mat-error>
    </mat-form-field>


    <button mat-raised-button 
    [disabled] = 'contactForm.form.invalid'
    >LogIn</button>
  </form>

 